@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/OpenSansBold/OpenSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "OpenSansSemibold";
	src: url("../fonts/OpenSansSemibold/OpenSans-Semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}