#wrapper {
    width: 1024px;
    height: 768px;
    background: #f0f3f6;
    margin: 10px auto;
    padding: 18px;
}

#wrapper h1 {
    font-family: "OpenSansBold";
    margin: 0;
    text-transform: uppercase;
    color: #8499a7;
    font-size: 24px;
}

#wrapper h1 span {
    color: #21b8c6;
}

#gallery {
    margin-top: 10px;
    padding: 4px 0 30px 4px;
    width: 988px;
    max-height: 650px;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
}

.images_li .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

#gallery::-webkit-scrollbar {
    height: 10px;
}

#gallery::-webkit-scrollbar-track {
    background-color: #d0dae3;
    border-radius: 10px;
}

#gallery::-webkit-scrollbar-thumb {
    background-color: #21b8c6;
    border-radius: 10px;
}

#gallery ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(238px, 238px));
    grid-template-rows: repeat(3, 200px);
    grid-auto-flow: column;
    grid-gap: 10px;
    width: auto;
}

#gallery ul li {
    min-width: 238px;
    min-height: 200px;
}

#gallery ul li:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
    box-shadow: -1px -1px 5px 0 #d8d4d4;
}

#gallery ul li:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
}

#gallery ul li:nth-child(3) {
    grid-column: 4;
    grid-row: 1;
}

#gallery ul li:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
}

#gallery ul li:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
}

#gallery ul li:nth-child(6) {
    grid-column: 4;
    grid-row: 2;
}

#gallery ul li:nth-child(7) {
    grid-column: 1;
    grid-row: 3;
}

#gallery ul li:nth-child(8) {
    grid-column: 2 / 4;
    grid-row: 3;
}


/*
    #gallery ul li:nth-child(10n) {
        width: 486px;
    }
    
    #gallery ul li:nth-child(11n) {
        min-height: 410px;
        max-width: 238px;
    }
    
    #gallery ul li:nth-child(16n) {
        min-width: 486px;
        max-height: 200px;
    }
    */

#form_wrapper {
    float: right;
    width: 238px !important;
    height: 200px !important;
}

#imageUpload_form {
    width: 238px;
    height: 200px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imageUpload_form input {
    display: none;
}

#imageUpload_form label {
    padding: 0 15px 0 15px;
    border: unset;
    border-radius: 100%;
    background: #21b8c6;
    color: #fff;
    font-size: 38px;
    font-family: "OpenSansBold";
    margin-left: 6px;
    cursor: pointer;
}

#imageUpload_form p {
    font-family: "OpenSansSemibold";
    width: 65px;
    font-size: 14px;
    color: #a0b0ba;
    text-align: center;
}

.images_li {
    position: relative;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    height: 0;
    width: 100%;
    padding: 18px 20px 18px 15px;
    background: #fff;
    display: block;
}

.caption img {
    display: inline-block;
    text-align: center center;
}

.caption img:first-child {
    float: left;
}

.caption img:nth-child(n+2) {
    float: right;
    margin-left: 26px;
}

.caption label {
    margin: auto auto;
    vertical-align: center;
    margin-top: -3px;
}

.caption .caption_like_counter_label {
    right: 0;
    margin-right: 13px;
    text-align: center;
}

.caption .caption_dislike_counter_label {
    right: 0;
    text-align: center;
    margin-right: 64px;
}

.caption .caption_comment_counter_label {
    text-align: center;
    margin-left: -7px;
}

.images_li:hover .caption {
    opacity: 0.95;
    height: 60px;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
}


/*PopUp*/

.popUp {
    width: 800px;
    height: 595px;
    background: #fff;
    position: absolute;
    margin-top: -620px;
    margin-left: 100px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    display: none;
    flex-direction: row;
}

#image_block_wrapper {
    background: #f6f6f4;
    order: 1;
    height: 575px;
    width: 450px;
}

.image_block {
    height: 515px;
    width: 100%;
}

.image_block img {
    border-top-left-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comments_block_wrapper {
    order: 2;
    padding: 10px 10px 0 30px;
    height: 575px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.comments_block_wrapper h3 {
    order: 2;
    font-family: "OpenSansSemibold";
    font-size: 22px;
    color: #8399a6;
    margin: 0;
}

.toClosePopUp {
    order: 1;
    align-self: flex-end;
    height: 20px;
    width: 20px;
    border: unset;
    border: none;
    background: url(../img/close.png);
    cursor: pointer;
}

.buttons_wrapper {
    position: absolute;
    height: 60px;
    width: 140px;
    margin-top: -7px;
    margin-left: 310px;
}

.like_button_clicked {
    background: #28d0ce url(../img/active_like_icon.png) no-repeat !important;
    background-position: center center !important;
}

.dislike_button_clicked {
    background: #d02828 url(../img/active_dislike_icon.png) no-repeat !important;
    background-position: center center !important;
}

.like_button {
    display: inline-block;
    height: 60px;
    width: 65px;
    border: unset;
    background: #e0e5e9 url(../img/like_icon.png) no-repeat;
    background-position: center center;
    cursor: pointer;
}

.like_button:active {
    background: #28d0ce url(../img/active_like_icon.png) no-repeat !important;
    background-position: center center !important;
    transform: translateY(7px);
}

.dislike_button {
    display: inline-block;
    margin-right: 5px;
    height: 60px;
    width: 65px;
    border: unset;
    background: #e0e5e9 url(../img/dislike_icon.png) no-repeat;
    background-position: center center;
    cursor: pointer;
}

.dislike_button:active {
    background: #d02828 url(../img/active_dislike_icon.png) no-repeat !important;
    background-position: center center !important;
    transform: translateY(7px);
}

.caption_like_counter_label,
.like_counter_label,
.caption_comment_counter_label,
.caption_dislike_counter_label,
.dislike_counter_label,
.caption_counter_label {
    min-height: 15px;
    min-width: 15px;
    text-align: center center;
    border: 1px solid #8399a6;
    border-radius: 100%;
    background: #fff;
    color: #21b9c7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    position: absolute;
    margin: -15px 0 0 6px;
}

.comments {
    order: 3;
    height: 410px;
    width: 305px;
    border-bottom: 2px solid #d1dae3;
    overflow-y: auto;
    display: block;
    margin-top: 10px;
}

.comments::-webkit-scrollbar {
    width: 5px;
}

.comments::-webkit-scrollbar-track {
    background-color: #d0dae3;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comments::-webkit-scrollbar-thumb {
    background-color: #21b8c6;
    border-radius: 5px;
}

.comments_form {
    order: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comments_form .textarea {
    font-family: Arial;
    background: none;
    background: unset;
    color: #75777b;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    width: 80%;
    resize: none;
}

textarea::-webkit-input-placeholder {
    color: #a9aaae;
    font-size: 14px;
}

.text_area_for_nickname {
    border: none;
    border: unset;
    border-bottom: 2px solid #f0f4f7;
    height: 35px;
    margin-bottom: 10px;
}

.text_area_for_nickname:focus {
    border-bottom: 2px solid #21b9c7;
}

.text_area_for_comment {
    border: 2px solid #f0f4f7;
    height: 50px;
    width: 80%;
}

.text_area_for_comment:focus {
    border: 2px solid #21b9c7;
}

.comment_form_button {
    position: absolute;
    margin-top: 45px;
    align-self: flex-end;
    background: #21b9c7 url(../img/comments_form_button_icon.png) no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
    border: unset;
    border-radius: 2px;
    height: 50px;
    width: 50px;
}

.comment_counter_label {
    height: 1em;
    width: 1em;
    font-family: "OpenSansSemibold";
    font-size: 22px;
    color: #8399a6;
    margin-left: 5px;
}

.written_comment li {
    list-style-type: none;
    position: relative;
    padding-bottom: 10px;
}

.written_comment {
    font-size: 14px;
    border: 2px solid #f0f3f6;
    padding: 15px 10px 15px 10px;
    display: block;
    width: 280px;
    overflow-wrap: break-word;
    color: #5e5e63;
    line-height: 1.3;
    margin: 5px 0px 10px 0px;
}

.author_name {
    font-size: 11px;
    padding: 0;
    color: #9a9ca0;
    width: 280px;
}

.author_name span {
    float: right;
}


/*UploadPopUp*/

#uploadPopUp {
    width: 512px;
    height: 512px;
    background: #d3e9f3 url(../img/uploadPopUpBG.png) no-repeat;
    background-position: center;
    position: relative;
    display: none;
    margin-top: -600px;
    margin-left: 200px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.upload_input_wrapper {
    margin: 50px;
}

#upload_input {
    order: 1;
    margin: 0;
    width: 100px;
    height: 50px;
    border: 2px solid #b3d3eb;
    font-size: 16px;
    font-weight: bold;
    color: #8facd6;
    padding-left: 20px;
    border-radius: 10px;
    background: #e1e7ee;
}

#upload_input:focus {
    width: 400px;
    border: 2px solid #b6d7f0;
    transition: 1s;
    transform: rotateX(360deg);
}

input::-webkit-input-placeholder {
    color: #7198d3;
}

.toCloseUploadPopUp {
    margin: 5px;
    position: absolute;
    right: 0;
    order: 2;
    align-self: flex-start;
    height: 20px;
    width: 20px;
    border: unset;
    border: none;
    background: url(../img/close.png);
    cursor: pointer;
}

#flickr_img_wrapper {
    margin-top: 130px;
    position: absolute;
    width: 400px;
    height: 300px;
    order: 3;
    border-radius: 5px;
}

#flickr_img_wrapper img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
}

.add_to_gallery {
    display: inline-block;
    position: absolute;
    z-index: 1;
    height: 30px;
    width: 130px;
    background: #8dbdeb;
    border-radius: 5px;
    right: 0;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: unset;
    cursor: pointer;
}