body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

*:focus {
    outline: 0;
    outline: none;
}

input[type="text"],
input[type="submit"],
input[type="email"] {
    -webkit-appearance: none;
}